# HAY ESPACIOS EN EL DATASET DE EXTRADATA

In [1]:
#data analysis libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina', quality=100)


ExtraData = pd.read_csv("countries of the world.csv")
#print(continents.columns)
CovidData = pd.read_csv("country_vaccinations.csv")
ExtraData2 = pd.read_csv("country_profile_variables.csv")

In [2]:
CovidData.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...

In [3]:
ExtraData.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

The aim of the next section of code is assure that it exists a connexion between Covid Dataset and an extra dataset with additional info. Datasets will be connected by the attribute "country". However, some cleaning is neaded to make them match (both country names have to be exactly equal in both datasets)

In [4]:
#Remove spaces at the end of the word
ExtraData['Country'] = ExtraData['Country'].str.rstrip()

In [5]:
#function that returns a list with country names of both datasets
def make_countries_list():
    country_CovidData = list(CovidData['country'].unique())
    country_ExtraData = list(ExtraData['Country'].unique())
    print(str(len(country_CovidData))+ " Countries in CovidData\n" + str(len(country_ExtraData)) + " Countries in ExtraData")
    return country_CovidData,country_ExtraData

In [6]:
#function which shows which countries are already correct and which ones need changes

def check_countries(CovidData_Countries,ExtraData_Countries):
    count = 0
    countries_ok = []
    countries_not_ok = []
    for i in CovidData_Countries:
        if i in ExtraData_Countries:
            count += 1
            countries_ok.append(i)
        else:
            countries_not_ok.append(i)
    print(str(len(countries_ok)) + " number of countries that match\n" + str(len(countries_not_ok)) + 
         " number of countries that don´t match\n")
    print("Countries that don´t match are:\n" + str(countries_not_ok))
    return countries_ok, countries_not_ok

In [7]:
#Function that returns the list of countries that will replace the ones that don´t match in ExtraData eliminating the
#ones we just dropped

def drop_from_list(todrop, listorigin):
    for element in todrop:
        if element in listorigin:
            listorigin.remove(element)
    print(listorigin)
    return listorigin

In [8]:
def replace_countries(Countries_not_match,Countries_to_replace):
    for i in range(len(Countries_not_match)):
        ExtraData.replace(Countries_not_match[i],Countries_to_replace[i],inplace=True)

In [9]:
CovidData_Countries, ExtraData_Countries = make_countries_list()

166 Countries in CovidData
227 Countries in ExtraData

In [10]:
countries_ok,countries_not_ok = check_countries(CovidData_Countries,ExtraData_Countries)

144 number of countries that match
22 number of countries that don´t match

Countries that don´t match are:
['Antigua and Barbuda', 'Bahamas', 'Czechia', 'England', 'Faeroe Islands', 'Falkland Islands', 'Gambia', 'Kosovo', 'Macao', 'Montenegro', 'Myanmar', 'North Macedonia', 'Northern Cyprus', 'Northern Ireland', 'Palestine', 'Saint Kitts and Nevis', 'Sao Tome and Principe', 'Scotland', 'South Korea', 'Trinidad and Tobago', 'Turks and Caicos Islands', 'Wales']

Now, we have no option but changing manually the countries that don´t match. 
Example: "Korea, South" --> 'South Korea'

Some of them don´t have data in the ExtraData dataset so we will drop these countries.

In [11]:
#Country names that have to be change in ExtraData dataset so they fit country names in CovidData

Countries_not_match = ['Antigua & Barbuda','Bahamas, The','Czech Republic','Faroe Islands','Gambia, The',
                    'Macau','Macedonia','Cyprus','Ireland','Sao Tome & Principe',
                    'Korea, South','Trinidad & Tobago','Turks & Caicos Is']

#Countries that will be dropped in Covid Dataset because they don´t exist in ExtraData
Countries_not_ex = ["England","Falkland Islands","Kosovo","Montenegro","Myanmar","Palestine","Saint Kitts and Nevis",
                "Scotland","Wales"]

In [12]:
print(len(CovidData))
CovidData = CovidData[~CovidData.country.isin(Countries_not_ex)]
print(len(CovidData))

9576
9095

In [13]:
 Countries_to_replace = drop_from_list(Countries_not_ex,countries_not_ok)

['Antigua and Barbuda', 'Bahamas', 'Czechia', 'Faeroe Islands', 'Gambia', 'Macao', 'North Macedonia', 'Northern Cyprus', 'Northern Ireland', 'Sao Tome and Principe', 'South Korea', 'Trinidad and Tobago', 'Turks and Caicos Islands']

In [14]:
print(Countries_not_match)

['Antigua & Barbuda', 'Bahamas, The', 'Czech Republic', 'Faroe Islands', 'Gambia, The', 'Macau', 'Macedonia', 'Cyprus', 'Ireland', 'Sao Tome & Principe', 'Korea, South', 'Trinidad & Tobago', 'Turks & Caicos Is']

To clarify, now we have to change Countries_not_match for Countries_to_replace

In [15]:
replace_countries(Countries_not_match,Countries_to_replace)

We start the process from the beginning to see if now all countries are connected

In [16]:
CovidData_Countries, ExtraData_Countries = make_countries_list()

157 Countries in CovidData
227 Countries in ExtraData

In [17]:
countries_ok,countries_not_ok = check_countries(CovidData_Countries,ExtraData_Countries)

155 number of countries that match
2 number of countries that don´t match

Countries that don´t match are:
['Cyprus', 'Ireland']

Althought there should exist a connection between Cyprus and Ireland in both datasets because we changed the name,
something seems to be wrong. We will drop this two countries

In [18]:
print(len(CovidData))
CovidData = CovidData[~CovidData.country.isin(countries_not_ok)]
print(len(CovidData))

9095
8930

And now we check all countries match

In [19]:
CovidData_Countries, ExtraData_Countries = make_countries_list()

155 Countries in CovidData
227 Countries in ExtraData

In [20]:
countries_ok,countries_not_ok = check_countries(CovidData_Countries,ExtraData_Countries)

155 number of countries that match
0 number of countries that don´t match

Countries that don´t match are:
[]

In [21]:
ExtraData.columns

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

# Second extra dataset

In [22]:
ExtraData2.head()

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99
1,Albania,SouthernEurope,28748,2930,106.9,101.9,11541,2.6,3984.2,22.4,...,63.3,130,28.2,5.7/2.0,84,36,94.9/95.2,95.5/90.2,2.96,-99
2,Algeria,NorthernAfrica,2381741,41318,17.3,102.0,164779,3.8,4154.1,12.2,...,38.2,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99
3,American Samoa,Polynesia,199,56,278.2,103.6,-99,-99,-99.0,-99,...,-99,92,87.9,-99,-99,-99,100.0/100.0,62.5/62.5,-99,-99
4,Andorra,SouthernEurope,468,77,163.8,102.3,2812,0.8,39896.4,0.5,...,96.9,13,34.0,0.5/6.4,1,119,100.0/100.0,100.0/100.0,-99,-99

In [23]:
def make_countries_list():
    country_CovidData = list(CovidData['country'].unique())
    country_ExtraData = list(ExtraData2['country'].unique())
    print(str(len(country_CovidData))+ " Countries in CovidData\n" + str(len(country_ExtraData)) + " Countries in ExtraData2")
    return country_CovidData,country_ExtraData

In [24]:
def replace_countries(Countries_not_match,Countries_to_replace):
    for i in range(len(Countries_not_match)):
        ExtraData2.replace(Countries_not_match[i],Countries_to_replace[i],inplace=True)

In [25]:
CovidData_Countries, ExtraData_Countries = make_countries_list()

155 Countries in CovidData
229 Countries in ExtraData2

In [26]:
countries_ok,countries_not_ok = check_countries(CovidData_Countries,ExtraData_Countries)

134 number of countries that match
21 number of countries that don´t match

Countries that don´t match are:
['Bolivia', 'Brunei', 'Cape Verde', "Cote d'Ivoire", 'Faeroe Islands', 'Guernsey', 'Hong Kong', 'Iran', 'Jersey', 'Laos', 'Macao', 'Moldova', 'North Macedonia', 'Northern Cyprus', 'Northern Ireland', 'Russia', 'South Korea', 'Taiwan', 'United States', 'Venezuela', 'Vietnam']

In [27]:
print(ExtraData2["country"].unique())

['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia (Plurinational State of)' 'Bonaire, Sint Eustatius and Saba'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Cameroon' 'Canada' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Channel Islands' 'Chile'
 'China, Hong Kong SAR' 'China, Macao SAR' 'China' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Ethiopia' 'Falkland Islands (Malvinas)'
 'Faroe Islands' 'Fiji' 'Finland' 'France' 'French Guiana'
 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana'
 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe' 'Guam'
 'Guatemala' 'Guinea-Bissau' 'Guinea' 'Guyana' 'Haiti' 'Holy See'
 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Isle of Man' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Republic" 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Martinique' 'Mauritania' 'Mauritius' 'Mayotte'
 'Mexico' 'Micronesia (Federated States of)' 'Monaco' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'Northern Mariana Islands' 'Norway' 'Oman'
 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Rwanda' 'Saint Helena' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Pierre and Miquelon' 'Saint Vincent and the Grenadines' 'Samoa'
 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Sudan' 'Spain' 'Sri Lanka' 'State of Palestine' 'Sudan' 'Suriname'
 'Swaziland' 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Tajikistan'
 'Thailand' 'The former Yugoslav Republic of Macedonia' 'Timor-Leste'
 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United Republic of Tanzania'
 'United States of America' 'United States Virgin Islands' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Wallis and Futuna Islands' 'Western Sahara' 'Yemen' 'Zambia' 'Zimbabwe']

In [28]:
#Country names that have to be change in ExtraData dataset so they fit country names in CovidData

Countries_not_match = ['Bolivia (Plurinational State of)','Brunei Darussalam','Cabo Verde','Faroe Islands',
                      'Iran (Islamic Republic of)',"Lao People's Democratic Republic",'Republic of Moldova',
                      'Cyprus','Russian Federation','Republic of Korea','United States of America',
                      'Venezuela (Bolivarian Republic of)','Viet Nam']

#Countries that will be dropped in Covid Dataset because they don´t exist in ExtraData
Countries_not_ex = ["Cote d'Ivoire",'Guernsey','Hong Kong','Jersey','Macao','North Macedonia','Northern Ireland',
                   'Taiwan']

In [29]:
print(len(CovidData))
CovidData = CovidData[~CovidData.country.isin(Countries_not_ex)]
print(len(CovidData))

8930
8500

In [30]:
 Countries_to_replace = drop_from_list(Countries_not_ex,countries_not_ok)

['Bolivia', 'Brunei', 'Cape Verde', 'Faeroe Islands', 'Iran', 'Laos', 'Moldova', 'Northern Cyprus', 'Russia', 'South Korea', 'United States', 'Venezuela', 'Vietnam']

In [31]:
replace_countries(Countries_not_match,Countries_to_replace)

In [32]:
CovidData_Countries, ExtraData_Countries = make_countries_list()

147 Countries in CovidData
229 Countries in ExtraData2

In [33]:
countries_ok,countries_not_ok = check_countries(CovidData_Countries,ExtraData_Countries)

147 number of countries that match
0 number of countries that don´t match

Countries that don´t match are:
[]

In [34]:
ExtraData.columns

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

In [35]:
ExtraData2.columns

Index(['country', 'Region', 'Surface area (km2)',
       'Population in thousands (2017)', 'Population density (per km2, 2017)',
       'Sex ratio (m per 100 f, 2017)',
       'GDP: Gross domestic product (million current US$)',
       'GDP growth rate (annual %, const. 2005 prices)',
       'GDP per capita (current US$)', 'Economy: Agriculture (% of GVA)',
       'Economy: Industry (% of GVA)',
       'Economy: Services and other activity (% of GVA)',
       'Employment: Agriculture (% of employed)',
       'Employment: Industry (% of employed)',
       'Employment: Services (% of employed)',
       'Unemployment (% of labour force)',
       'Labour force participation (female/male pop. %)',
       'Agricultural production index (2004-2006=100)',
       'Food production index (2004-2006=100)',
       'International trade: Exports (million US$)',
       'International trade: Imports (million US$)',
       'International trade: Balance (million US$)',
       'Balance of payments, current account (million US$)',
       'Population growth rate (average annual %)',
       'Urban population (% of total population)',
       'Urban population growth rate (average annual %)',
       'Fertility rate, total (live births per woman)',
       'Life expectancy at birth (females/males, years)',
       'Population age distribution (0-14 / 60+ years, %)',
       'International migrant stock (000/% of total pop.)',
       'Refugees and others of concern to UNHCR (in thousands)',
       'Infant mortality rate (per 1000 live births',
       'Health: Total expenditure (% of GDP)',
       'Health: Physicians (per 1000 pop.)',
       'Education: Government expenditure (% of GDP)',
       'Education: Primary gross enrol. ratio (f/m per 100 pop.)',
       'Education: Secondary gross enrol. ratio (f/m per 100 pop.)',
       'Education: Tertiary gross enrol. ratio (f/m per 100 pop.)',
       'Seats held by women in national parliaments %',
       'Mobile-cellular subscriptions (per 100 inhabitants)',
       'Mobile-cellular subscriptions (per 100 inhabitants).1',
       'Individuals using the Internet (per 100 inhabitants)',
       'Threatened species (number)', 'Forested area (% of land area)',
       'CO2 emission estimates (million tons/tons per capita)',
       'Energy production, primary (Petajoules)',
       'Energy supply per capita (Gigajoules)',
       'Pop. using improved drinking water (urban/rural, %)',
       'Pop. using improved sanitation facilities (urban/rural, %)',
       'Net Official Development Assist. received (% of GNI)'],
      dtype='object')

In [36]:
ExtraData2['Population age distribution (0-14 / 60+ years, %)'].head(10)

0     43.2/4.1
1    17.4/19.0
2     29.3/9.4
3     33.3/9.0
4    14.4/19.0
5     46.8/4.0
6     23.3/7.6
7    23.9/10.9
8    24.9/15.4
9    20.0/16.9
Name: Population age distribution (0-14 / 60+ years, %), dtype: object

In [37]:
ExtraData2.head()

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99
1,Albania,SouthernEurope,28748,2930,106.9,101.9,11541,2.6,3984.2,22.4,...,63.3,130,28.2,5.7/2.0,84,36,94.9/95.2,95.5/90.2,2.96,-99
2,Algeria,NorthernAfrica,2381741,41318,17.3,102.0,164779,3.8,4154.1,12.2,...,38.2,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99
3,American Samoa,Polynesia,199,56,278.2,103.6,-99,-99,-99.0,-99,...,-99,92,87.9,-99,-99,-99,100.0/100.0,62.5/62.5,-99,-99
4,Andorra,SouthernEurope,468,77,163.8,102.3,2812,0.8,39896.4,0.5,...,96.9,13,34.0,0.5/6.4,1,119,100.0/100.0,100.0/100.0,-99,-99

In [38]:
CovidData.columns

Index(['country', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'daily_vaccinations_per_million',
       'vaccines', 'source_name', 'source_website'],
      dtype='object')

In [39]:
CovidData['vaccines']

0       Oxford/AstraZeneca
1       Oxford/AstraZeneca
2       Oxford/AstraZeneca
3       Oxford/AstraZeneca
4       Oxford/AstraZeneca
               ...
9571     Sinopharm/Beijing
9572     Sinopharm/Beijing
9573     Sinopharm/Beijing
9574     Sinopharm/Beijing
9575     Sinopharm/Beijing
Name: vaccines, Length: 8500, dtype: object